<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Custom">
            <remove statusCode="502" subStatusCode="-1" />
            <remove statusCode="501" subStatusCode="-1" />
            <remove statusCode="431" subStatusCode="-1" />
            <remove statusCode="412" subStatusCode="-1" />
            <remove statusCode="406" subStatusCode="-1" />
            <remove statusCode="405" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/errorpage/404.php" responseMode="ExecuteURL" />
            <error statusCode="403" prefixLanguageFilePath="" path="/errorpage/403.php" responseMode="ExecuteURL" />
            <error statusCode="401" prefixLanguageFilePath="" path="/errorpage/401.php" responseMode="ExecuteURL" />
            <error statusCode="500" prefixLanguageFilePath="" path="/errorpage/500.php" responseMode="ExecuteURL" />
            <error statusCode="405" prefixLanguageFilePath="" path="/errorpage/405.php" responseMode="ExecuteURL" />
            <error statusCode="406" prefixLanguageFilePath="" path="/errorpage/406.php" responseMode="ExecuteURL" />
            <error statusCode="412" prefixLanguageFilePath="" path="/errorpage/412.php" responseMode="ExecuteURL" />
            <error statusCode="400" prefixLanguageFilePath="" path="/errorpage/400.php" responseMode="ExecuteURL" />
            <error statusCode="501" prefixLanguageFilePath="" path="/errorpage/501.php" responseMode="ExecuteURL" />
            <error statusCode="502" prefixLanguageFilePath="" path="/errorpage/502.php" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
    <system.web>
        <httpRuntime requestValidationMode="2.0" />
        <pages validateRequest="false" />
    </system.web>
</configuration>
